/* -- MenuBar styling */
.menu-bar {
    -fx-background-color: #000b4f;
    -fx-min-height: 50;
}
.menu {
    -fx-min-height: 50;
}
.menu .label {
    -fx-text-fill: #ebebeb;
    -fx-font-weight: bold;
    -fx-font-size: 22;
    -fx-font-family: "sans-serif"
}
.menu-item .label {
    -fx-text-fill: #323232;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}


/*Page container*/
.custom-page-container {
    -fx-background-color: #ebebeb;
}
.custom-page-container .label {
    -fx-text-fill: #323232;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}




/*Table view*/
.custom-tableview-container {
    -fx-background-color: #ebebeb;
    -fx-border-color: #323232;
    -fx-border-width: 1px;
}
.custom-tableview-container .label {
    -fx-text-fill: #323232;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}


.main-table {
    -fx-background-color: #6d6d6d;
}
.main-table .column-header-background .filler {
    -fx-background-color: transparent;
}
.main-table .corner {
    -fx-background-color: transparent;
}
.main-table .column-header-background{
    -fx-background-color: #323232;
}
.main-table .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #404040;
}
.main-table .column-header .label {
    -fx-text-fill: #ebebeb;
    -fx-font-weight: bold;
}
.main-table .table-cell{
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}
.main-table .table-row-cell:hover, .table-row-cell:selected  {
    -fx-background-color: #404040;
}
.main-table .table-row-cell{
    -fx-background-color: #6d6d6d;
}
.main-table .table-row-cell:empty:hover {
    -fx-background-color: #6d6d6d;
}
.main-table .virtual-flow .scroll-bar:vertical {
    -fx-background-color: transparent;
}
.main-table .scroll-bar:horizontal {
    -fx-opacity: 0;
}



.movies-table {
    -fx-background-color: transparent;
}
.movies-table .column-header-background .filler {
    -fx-background-color: transparent;
}
.movies-table .corner {
    -fx-background-color: transparent;
}
.movies-table .column-header-background{
    -fx-background-color: #20368f;
}
.movies-table .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #20368f;
}
.movies-table .column-header .label {
    -fx-text-fill: #ebebeb;
    -fx-font-weight: bold;
}
.movies-table .table-cell{
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}
.movies-table .table-row-cell:hover, .table-row-cell:selected  {
    -fx-background-color: #20368f;
}
.movies-table .table-row-cell{
    -fx-background-color: #829cd0;
}
.movies-table .virtual-flow .scroll-bar:vertical {
    -fx-background-color: transparent;
}
.movies-table .scroll-bar:horizontal {
    -fx-opacity: 0;
}




/*Form*/
.custom-empty-form {
    -fx-background-color: #ebebeb;
}
.custom-form {
    -fx-background-color: #829cd0;
}
.custom-form .button {
    -fx-background-color: #20368f;
    -fx-font-weight: bold;
    -fx-text-fill: #ebebeb;
    -fx-min-width: 145;
}
.custom-form .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}




/*Footer*/
.custom-footer {
    -fx-background-color: #000b4f;
}
